<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Car resale value Prediction Master </title>
    <link rel="stylesheet" href="../static/css/style.css">
  </head>
  <body>
    <section class="header">
      <nav>
        <a href="car.html"><img src="../static/css/sang.png" width="150" height="150"></a>
      </nav>
        <div class="text-box">
          <h1>Car resale value Prediction</h1>
          <p>Best car with best value you can find in the car resale value prediction</p>
          <a href="./predict_page" class="visit-btn  "style="font-size:30px">Check price >></a>
        </div>
    </section>
    
  </body>
</html>
